<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
       
        <context:annotation-config/>
        
        <!-- 扫描@component注解的范围（包括@component的子注解，@Service，@Reposity，@Controller），这里扫描的是cn.lwh.zxc包下的所有类 -->
        <context:component-scan base-package="cn.lwh.zxc">
            <!-- 为了避免和springmvc扫描重合，spring不扫描@Controller -->
            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        </context:component-scan>
        
        <bean id="date" class="java.util.Date"></bean>
        
        <!-- <aop:config>
            <aop:aspect id="myFirstAop" ref="">
                
            </aop:aspect>
            <aop:pointcut expression="" id=""/>
        </aop:config> -->
        
        <!-- spring-myBatis的配置文件 -->
        <import resource="classpath:config/spring-mybatis.xml" />
</beans>